<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GROCERY DELIVERY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#about">О нас <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Категории
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Bread, snacks</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Бренды
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Оплата и Доставка</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="'/login/'">Войти</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск..." aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
  </nav>

<div class="form">
<div *ngIf = "!logged">
    <div class="login">
    <h1>Войти</h1>
    <p>Имя пользователя: <br><input type="text" [(ngModel)]="username"></p>
    <p>Пароль: <br><input type="text" [(ngModel)]="password"></p>
  
    <button (click)=login()>Войти</button>
</div>
  </div>
</div>
  
  <div class="wrapper" *ngIf="logged">
    <button (click)="logout()">Выйти</button>
  </div>
